{% extends "layout.html" %}
{% block content %}

    <body>
      <main>
        <section>
          <div class="container">
          <h2>Featured Products</h2>
          </div>
          <div class="product">
            <img src="hospital-bed.jpg" alt="Manual Hospital Bed">
            <h3>Manual Hospital Bed</h3>
            <p>Rent: Only RM200/Month!</p>
            <button>Rent Now</button>
          </div>
          <div class="product">
              <img src="" alt="Electric Hospital Bed">
              <h3>Electric Hospital Bed</h3>
              <p>Rent: Only RM300/Month!</p>
              <button>Rent Now</button>
          </div>
          <div class="product">
              <img src="" alt="Mattress">
              <h3>Mattress</h3>
              <p>Get Your own for only RM300</p>
              <button>Buy Now</button>
          </div>
          <div class="product">
              <img src="" alt="Ripple Mattress">
              <h3>Ripple Mattress</h3>
              <p>Get Your own for only RM300</p>
              <button>Buy Now</button>
          </div>
          <div class="product">
            <img src="oxygen-concentrator.jpg" alt="Oxygen Concentrator">
            <h3>Oxygen Concentrator</h3>
            <p>Rent: RM 3200 per month</p>
            <button>Rent Now</button>
          </div>
          <div class="product">
            <img src="wheelchair.jpg" alt="Wheelchair">
            <h3>Wheelchair</h3>
            <p>Rent: $10 per day</p>
            <button>Rent Now</button>
          </div>
        </section>
        <aside>
          <h2>Why Choose Us?</h2>
          <p>We offer a wide range of high-quality medical equipment for rent at affordable prices. Our equipment is regularly cleaned and maintained to ensure the safety and comfort of our customers. Contact us today to learn more!</p>
        </aside>
      </main>
      <footer>
        <p>&copy; 2023 Rent Medical Equipment. All rights reserved.</p>
      </footer>
    </body>
  </html>
  
{% endblock content %}