{% extends "layout.html" %}
{% block content %}


<body>
  <main>
    <section>
        <div class="container">
          <h2>Featured Products</h2>
          </br>
          <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          <div class="row">
          <div class="panel-block-row col-md-12"><img style="max-width: 100%; width: 100%;" src="static/pictures/bed_manual_2_func.jpg"></div>
          <div class="panel-block-row col-md-12">
          <p>&nbsp;</p>
          </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          <div class="row">
          <div class="panel-block-row col-md-12"><img style="max-width: 100%; width: 100%;" src="static/pictures/bed_manual_3_func.jpg"></div>
          <div class="panel-block-row col-md-12">
          <p>&nbsp;</p>
          </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          <div class="row">
          <div class="panel-block-row col-md-12"><img style="max-width: 100%; width: 100%;" src="static/pictures/bed_manual_5_func.jpg"></div>
          <div class="panel-block-row col-md-12">
          <p>&nbsp;</p>
          </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          <div class="row">
          <div class="panel-block-row col-md-12"><img style="max-width: 100%; width: 100%;" src="static/pictures/bed_hopkins_2_func_man.png"></div>
          <div class="panel-block-row col-md-12">
          <p>&nbsp;</p>
          </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          <div class="row">
          <div class="panel-block-row col-md-12"><img style="max-width: 100%; width: 100%;" src="static/pictures/bed_hopkins_3_func_elec.png"></div>
          <div class="panel-block-row col-md-12">
          <p>&nbsp;</p>
          </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          <div class="row">
          <div class="panel-block-row col-md-12"><img style="max-width: 100%; width: 100%;" src="static/pictures/mattress_hopkin_pvc.png"></div>
          <div class="panel-block-row col-md-12">
          <p>&nbsp;</p>
          </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          <div class="row">
          <div class="panel-block-row col-md-12"><img style="max-width: 100%; width: 100%;" src="static/pictures/oxy_philips_everflow.jpg"></div>
          <div class="panel-block-row col-md-12">
          <p>&nbsp;</p>
          </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          <div class="row">
          <div class="panel-block-row col-md-12"><img style="max-width: 100%; width: 100%;" src="static/pictures/bubble_ripple_mattress_1.jpg"></div>
          <div class="panel-block-row col-md-12">
          <p>&nbsp;</p>
          </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
          <div class="row">
          <div class="panel-block-row col-md-12"><img style="max-width: 100%; width: 100%;" src="static/pictures/ripple_mattress_1.jpg"></div>
          <div class="panel-block-row col-md-12">
          <p>&nbsp;</p>
          </div>
          </div>
          </div>
          </div>
          </div>    
    </section>
  </main>
</body>
{% endblock content %}