{% extends "layout.html" %}
{% block content %}
    
<div class="su-tabs su-tabs-style-default su-tabs-mobile-stack" data-active="1" data-scroll-offset="0" data-anchor-in-url="no"><div class="su-tabs-nav"><span class="su-tabs-current" data-url="" data-target="blank" tabindex="0" role="button">Production Description</span><span class="" data-url="" data-target="blank" tabindex="0" role="button">Brochure &amp; Spec</span><span class="" data-url="" data-target="blank" tabindex="0" role="button">Package</span><span class="" data-url="" data-target="blank" tabindex="0" role="button">Symptoms</span><span class="" data-url="" data-target="blank" tabindex="0" role="button">Video</span></div><div class="su-tabs-panes"><div class="su-tabs-pane su-u-clearfix su-u-trim su-tabs-pane-open" data-title="Production Description">
    <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
    <div class="wp-block-embed__wrapper">
    <iframe loading="lazy" width="640" height="360" src="https://www.youtube.com/embed/49hZ8G_r0IM?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div><figcaption><strong>What is AVAPS? When to use AVAPS mode in Non-Invasive Ventilation?</strong></figcaption></figure>
    <p><strong>Overview:</strong><br>
    With the aid of DreamStation BiPAP AVAPS Non-Invasive Ventilation solutions, you have the power to treat patients who suffers from chronic respiratory diseases in changing therapeutic demands. Using clinically proven therapy solutions, DreamStation Non-Invasive Ventilators adapt to these changing patient needs, helping to normalize ventilation.</p>
    <p><strong>Meeting Special Patient Needs</strong><br>
    DreamStation AVAPS aligns with your patient’s breathing patterns to minimize applied pressure support and breaths. It also helps stay connected and informed with daily data on patient usage, compliance and efficacy.</p>
    <p><strong>Customized with Connected Care&#xFEFF;</strong><br>
    Proven Philips clinical innovations support custom, connected care to meet the unique needs of your patients, while offering the first Non-Invasive Ventilation solution that can automatically and simultaneously treat hypercapnia and OSA in any noninvasive ventilation mode.</p>
    <p><strong>Clinically Proven Solutions&#xFEFF;</strong><br>
    Independently verified outcomes highlight the reduction or normalization of PtcCO2. The addition of the AVAPS ventilation feature to BPV-S/T (Bi-level Pressure Ventilation with Spontaneous/Time Mode) provides beneficial physiological improvements, resulting in a more efficient decrease of PtcCO2 compared to BPV-S/T Therapy alone.</p>
    <p><strong>Patient Driven Design&#xFEFF;</strong><br>
    DreamStation’s sleek, stylish, low-profile design offers the important features patients told us they wanted in a therapy device. It’s small and light, making it easy to sit on a nightstand. It features easy-to-navigate menus, a front-facing display that can be operated while lying down or sitting up in bed, as well as an easy-to-clean, one-piece humidifier water chamber.</p>
    <p><strong>Adapts to Changes with AVAPS&#xFEFF;</strong><br>
    With Average Volume Assured Pressure Support (AVAPS) DreamStation BiPAP AVAPS delivers customized patient care by automatically adapting to disease progressions and changing patient needs. It helps to maintain optimal patient comfort and supporting patient care and ventilation efficacy while simplifying the titration process.</p>
    <p><strong>Digital Auto-Trak&#xFEFF;</strong><br>
    Digital Auto-Trak is an automated breath triggering, cycling and leak compensation algorithm that adjusts ventilation to the patient’s natural breathing patterns. Digital Auto-Trak adapts breath triggering and cycling as the patient’s disease progresses and helps to eliminate the need for manual adjustments.</p>
    <p><strong>Stay Connected to Patients</strong><br>
    DreamStation delivers the most comprehensive suite of connectivity options among leading ventilation brands.  With integrated Bluetooth® on every device and optional Wi-Fi and cellular modems, you can choose the options that are the most cost effective and the best fit for each patient.<br>
    </p></div>
    <div class="su-tabs-pane su-u-clearfix su-u-trim" data-title="Brochure &amp; Spec">
    <strong>Product Specifications: </strong><br>
    Oxygen concentration²: 87 to 96% at all settings<br>
    <strong>Flow Settings: </strong><br>
    Pulse-mode bolus size: 1=12ml 4=48ml<br>
    2=24m1 5=60ml<br>
    3=36m1 6=72m1<br>
    Continuous – Flow Mode: 0.5 LPM – 1 LPM – 1.5 LPM – 2 LPM<p></p>
    <p><b>Night Mode:</b><br>
    Variable pulse volumes based on breath rate, to maintain a constant minute volume per setting: 1= 250 ml/min | 12 = 500 ml/min | 3 = 750 ml/min | 4 = 1000 ml/min | 5 = 1250 ml/min | 6 = 1500 ml/min<br>
    Sound level: 43 dB (nominal) at pulse setting 2</p>
    <p><b>Alarms:</b><br>
    Low oxygen purity (&lt;83%) | No breath | High breath rate | No Bow | LAN, battery | Depleted battery | System technical fault 
    
    <b>Dimensions:</b><br>
    29.2 cm x 25.4 cm x15.2 cm | 11.5 in x10 in x 6 in<br>
    Weight: 4.5 kg | 10 lbs with battery installed<br>
    Power consumption: 150W while charging 120W while not charging </p>
    <p><strong>Operating Conditions:</strong><br>
    Operational temperature: 5° to 40°C | 41° to 104°F<br>
    Relative humidity: 15 to 95%<br>
    Altitude Up to 3048 m | 10000 ft</p>
    <p><strong>Battery Autonomy:</strong><br>
    Pulse mode setting 2*: 3 hr min<br>
    Continuous flow 2 LPM: 54 min<br>
    Based on 20 breaths per minute<br>
    Based on an atmospheric pressure of 14.7 PSIA (101 kPa) at 21°C 170°F</p>
    <div class="wp-block-file"><a href="https://oxygenmasters.com.my/wp-content/uploads/2020/05/DreamStation-BiPAP-AVAPS-AE-Brochure.pdf">DreamStation BiPAP AVAPS – Brochure</a><a href="https://oxygenmasters.com.my/wp-content/uploads/2020/05/DreamStation-BiPAP-AVAPS-AE-Brochure.pdf" class="wp-block-file__button" download="">Download</a></div>
    <div class="wp-block-file"><a href="https://oxygenmasters.com.my/wp-content/uploads/2020/05/BiPAP-AVAPS-AE-Specification.pdf">DreamStation BiPAP AVAPS – Specification</a><a href="https://oxygenmasters.com.my/wp-content/uploads/2020/05/BiPAP-AVAPS-AE-Specification.pdf" class="wp-block-file__button" download="">Download</a></div>
    </div>
    <div class="su-tabs-pane su-u-clearfix su-u-trim" data-title="Package">
    <strong>Philips Respironics DreamStation BiPAP AVAPS System Package Includes: </strong><br>
    1 x Philips Respironics DreamStation BiPAP AVAPS Machine<br>
    1 x Philips Respironics Humidifier<br>
    1 x Philips Respironics Mask<br>
    1 x Philips Respironics Data Card<br>
    1 x Grey Carry Bag<br>
    1 x Reusable Tubing<br>
    1 x Power Cord<br>
    1 x DreamStation Filter Kit<p></p>
    <p><strong>Manufacturer:</strong> Philips Respironics<br>
    <strong>Country of Origin:</strong> USA<br>
    <strong>Warranty:</strong> 2 Years</p>
    <p>If you have any additional questions or would like more information please feel free to call anytime at <a href="tel:+6011 - 3682 7305" title="+6011 - 3682 7305"><strong>+6011 – 3682 7305</strong></a> or you can email us at <a href="mailto:oxygenmasters@gmail.com?Subject=Your%20Enquiry">oxygenmasters@gmail.com</a></p>
    </div>
    <div class="su-tabs-pane su-u-clearfix su-u-trim" data-title="Symptoms">
    Intended to provide Non-invasive Ventilatory support to treat adult patients weighing over 30 kg (66 lbs) and Pediatric patients 7 years or older and weighing over 18 kg (40 lbs) with Obstructive Sleep Apnea (OSA) and Respiratory Insufficiency. This device may be used in the hospital or home.<p></p>
    <p>BiPAP (Bilevel Positive Airway Pressure) is an electronic breathing device used in the treatment of Sleep Apnea, Lung Disease, and to treat Respiratory weakness.<br>
    (Non-Invasive Positive-Pressure Ventilation) NIPPV, use of the device overnight improves quality of sleep, daytime sleepiness, and may improve thinking ability.</p>
    <p><strong>Symptoms Includes:</strong></p>
    <ul>
    <li>Breathing Difficulty</li>
    <li>Amyotrophic Lateral Sclerosis (ALS)</li>
    <li>Fatigue</li>
    <li>Headaches</li>
    <li>Obstructive Sleep Apnea</li>
    <li>Shortness of Bbreath (Dyspnea)</li>
    </ul>
    </div>
    <div class="su-tabs-pane su-u-clearfix su-u-trim" data-title="Video">
    <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
    <div class="wp-block-embed__wrapper">
    <iframe loading="lazy" width="640" height="360" src="https://www.youtube.com/embed/UTFY_Ht0syQ?start=9&amp;feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div><figcaption><strong>Philips Respironics DreamStation BiPAP AVAPS – Setup Without Humidifier </strong></figcaption></figure>
    <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
    <div class="wp-block-embed__wrapper">
    <iframe loading="lazy" width="640" height="360" src="https://www.youtube.com/embed/XpqWn-29nlg?start=8&amp;feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div><figcaption><strong>Philips Respironics DreamStation BiPAP AVAPS System – Simple Operation</strong></figcaption></figure>
    <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
    <div class="wp-block-embed__wrapper">
    <iframe loading="lazy" width="640" height="360" src="https://www.youtube.com/embed/kQSxMeLuYLE?start=9&amp;feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div><figcaption><strong>Philips Respironics DreamStation BiPAP AVAPS – Setup with Humidifier</strong></figcaption></figure>
    <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
    <div class="wp-block-embed__wrapper">
    <iframe loading="lazy" width="640" height="360" src="https://www.youtube.com/embed/nsfFjwOumfU?start=8&amp;feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div><figcaption><strong>Philips Respironics DreamStation BiPAP AVAPS – Cleaning</strong></figcaption></figure>
    </div></div></div>

{% endblock %}